@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Audiowide", sans-serif;
}

html,
body {
  @apply bg-gray-950 text-white;
}

@layer base {
  /* ===== Display ===== */
  .display {
    font-size: clamp(2.75rem, 6vw, 4.5rem);
    @apply font-semibold tracking-tight leading-[1.05] font-display;
  }

  /* ===== Headings ===== */
  h1 {
    font-size: clamp(2rem, 4vw, 3.25rem);
    @apply font-semibold tracking-tight leading-tight;
  }

  h2 {
    font-size: clamp(1.75rem, 3.2vw, 2.5rem);
    @apply font-semibold tracking-tight leading-snug;
  }

  h3 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    @apply font-semibold leading-snug;
  }

  h4 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    @apply font-medium leading-snug;
  }

  h5 {
    font-size: clamp(1.125rem, 1.5vw, 1.25rem);
    @apply font-medium leading-normal;
  }

  h6 {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    @apply font-medium leading-normal;
  }

  p {
    @apply text-[clamp(1rem,1.2vw,1.25rem)] leading-[clamp(1.6,1.8vw,1.9)] tracking-[-0.01em] max-w-[65ch];
  }
}

@utility glass {
  @apply bg-white/10 rounded backdrop-blur-md outline outline-white/20 shadow-lg;
}

@utility glass-transparent {
  @apply rounded bg-white/10 outline outline-white/20 shadow-lg;
}

@utility btn {
  @apply px-4 py-2 rounded font-semibold grid place-items-center hover:font-bold;
}

@utility rise {
  @apply hover:-translate-y-1 hover:shadow transition;
}

@utility btn-primary {
  @apply glass btn rise;
}

@utility btn-secondary {
  @apply bg-blue-100 hover:bg-white text-gray-700 btn rise border;
}
